.icon {
	display: inline-block;
	width: 120px;
	height: 120px;
	fill: currentColor;
}
.icon-Cake {
	/*fill: #000000;*/
}
.icon-Alarm {
	/*fill: #000000;*/
}
.icon-AppDrawer {
	/*fill: #000000;*/
}
.icon-Apple {
	/*fill: #000000;*/
}
.icon-Arrows-Bidirectional {
	/*fill: #000000;*/
}
.icon-BackArrow {
	/*fill: #000000;*/
}
.icon-Ball {
	/*fill: #000000;*/
}
.icon-Basket {
	/*fill: #000000;*/
}
.icon-Battery {
	/*fill: #000000;*/
}
.icon-Bell-Notificationsoff {
	/*fill: #000000;*/
}
.icon-Bell-Notificationson {
	/*fill: #000000;*/
}
.icon-Bluetooth {
	/*fill: #000000;*/
}
.icon-Bold {
	/*fill: #000000;*/
}
.icon-Bookmark {
	/*fill: #000000;*/
}
.icon-Briefcase {
	/*fill: #000000;*/
}
.icon-Brightness {
	/*fill: #000000;*/
}
.icon-Bus {
	/*fill: #000000;*/
}
.icon-Calendar {
	/*fill: #000000;*/
}
.icon-Camera {
	/*fill: #000000;*/
}
.icon-Cancel-Circle {
	/*fill: #000000;*/
}
.icon-Cancel {
	/*fill: #000000;*/
}
.icon-Car {
	/*fill: #000000;*/
}
.icon-Cart {
	/*fill: #000000;*/
}
.icon-CenterAlign {
	/*fill: #000000;*/
}
.icon-Chat {
	/*fill: #000000;*/
}
.icon-Check-2 {
	/*fill: #000000;*/
}
.icon-Check-Circle {
	/*fill: #000000;*/
}
.icon-Check {
	/*fill: #000000;*/
}
.icon-Checkbox-Empty {
	/*fill: #000000;*/
}
.icon-Checkbox-Full {
	/*fill: #000000;*/
}
.icon-Clip {
	/*fill: #000000;*/
}
.icon-Clipboard {
	/*fill: #000000;*/
}
.icon-Clock {
	/*fill: #000000;*/
}
.icon-Closed {
	/*fill: #000000;*/
}
.icon-CloudDownload {
	/*fill: #000000;*/
}
.icon-CloudUpload {
	/*fill: #000000;*/
}
.icon-Cloud-Check {
	/*fill: #000000;*/
}
.icon-Cloud {
	/*fill: #000000;*/
}
.icon-Color-Fill {
	/*fill: #000000;*/
}
.icon-Columns {
	/*fill: #000000;*/
}
.icon-Comments {
	/*fill: #000000;*/
}
.icon-Compass {
	/*fill: #000000;*/
}
.icon-Contact {
	/*fill: #000000;*/
}
.icon-Copy {
	/*fill: #000000;*/
}
.icon-CreditCard {
	/*fill: #000000;*/
}
.icon-Cycling {
	/*fill: #000000;*/
}
.icon-DataUsage {
	/*fill: #000000;*/
}
.icon-Directions {
	/*fill: #000000;*/
}
.icon-Document {
	/*fill: #000000;*/
}
.icon-DownArrow {
	/*fill: #000000;*/
}
.icon-Download {
	/*fill: #000000;*/
}
.icon-Drawer {
	/*fill: #000000;*/
}
.icon-Eat-2 {
	/*fill: #000000;*/
}
.icon-Eat {
	/*fill: #000000;*/
}
.icon-Edit {
	/*fill: #000000;*/
}
.icon-Envelope-Open {
	/*fill: #000000;*/
}
.icon-Envelope {
	/*fill: #000000;*/
}
.icon-Facebook {
	/*fill: #000000;*/
}
.icon-Family {
	/*fill: #000000;*/
}
.icon-Files {
	/*fill: #000000;*/
}
.icon-Filter {
	/*fill: #000000;*/
}
.icon-Flag {
	/*fill: #000000;*/
}
.icon-Folder {
	/*fill: #000000;*/
}
.icon-Frame {
	/*fill: #000000;*/
}
.icon-GooglePlus {
	/*fill: #000000;*/
}
.icon-GPS {
	/*fill: #000000;*/
}
.icon-GraduationHat {
	/*fill: #000000;*/
}
.icon-Grid {
	/*fill: #000000;*/
}
.icon-Handwriting {
	/*fill: #000000;*/
}
.icon-Hangouts {
	/*fill: #000000;*/
}
.icon-Heart-Check {
	/*fill: #000000;*/
}
.icon-Heart-Empty {
	/*fill: #000000;*/
}
.icon-Heart {
	/*fill: #000000;*/
}
.icon-Help {
	/*fill: #000000;*/
}
.icon-Home {
	/*fill: #000000;*/
}
.icon-HorizontalGrid {
	/*fill: #000000;*/
}
.icon-Image {
	/*fill: #000000;*/
}
.icon-Inbox {
	/*fill: #000000;*/
}
.icon-Information {
	/*fill: #000000;*/
}
.icon-Italics {
	/*fill: #000000;*/
}
.icon-Join {
	/*fill: #000000;*/
}
.icon-Justify {
	/*fill: #000000;*/
}
.icon-Keyboard {
	/*fill: #000000;*/
}
.icon-Label {
	/*fill: #000000;*/
}
.icon-LeftAlign {
	/*fill: #000000;*/
}
.icon-LeftCaret {
	/*fill: #000000;*/
}
.icon-Location {
	/*fill: #000000;*/
}
.icon-Lock-Open {
	/*fill: #000000;*/
}
.icon-Lock {
	/*fill: #000000;*/
}
.icon-Magazine {
	/*fill: #000000;*/
}
.icon-MagicWand {
	/*fill: #000000;*/
}
.icon-Maps {
	/*fill: #000000;*/
}
.icon-Message {
	/*fill: #000000;*/
}
.icon-Mic {
	/*fill: #000000;*/
}
.icon-MosaicGrid {
	/*fill: #000000;*/
}
.icon-Movie {
	/*fill: #000000;*/
}
.icon-Mute {
	/*fill: #000000;*/
}
.icon-Navigate {
	/*fill: #000000;*/
}
.icon-Network {
	/*fill: #000000;*/
}
.icon-New {
	/*fill: #000000;*/
}
.icon-News {
	/*fill: #000000;*/
}
.icon-Next {
	/*fill: #000000;*/
}
.icon-Overflow-Horizontal {
	/*fill: #000000;*/
}
.icon-Overflow-Vertical {
	/*fill: #000000;*/
}
.icon-Paste {
	/*fill: #000000;*/
}
.icon-Pause {
	/*fill: #000000;*/
}
.icon-Phone-Down {
	/*fill: #000000;*/
}
.icon-Phone {
	/*fill: #000000;*/
}
.icon-Picasa {
	/*fill: #000000;*/
}
.icon-Plane {
	/*fill: #000000;*/
}
.icon-Play {
	/*fill: #000000;*/
}
.icon-Presentation {
	/*fill: #000000;*/
}
.icon-Previous {
	/*fill: #000000;*/
}
.icon-Print {
	/*fill: #000000;*/
}
.icon-QuickReply {
	/*fill: #000000;*/
}
.icon-RadioSelected {
	/*fill: #000000;*/
}
.icon-RadioUnselected {
	/*fill: #000000;*/
}
.icon-Radio {
	/*fill: #000000;*/
}
.icon-Reorder {
	/*fill: #000000;*/
}
.icon-Replay {
	/*fill: #000000;*/
}
.icon-Reply {
	/*fill: #000000;*/
}
.icon-Ribbon {
	/*fill: #000000;*/
}
.icon-RightAlign {
	/*fill: #000000;*/
}
.icon-RightCaret {
	/*fill: #000000;*/
}
.icon-Scissors {
	/*fill: #000000;*/
}
.icon-Search {
	/*fill: #000000;*/
}
.icon-Send {
	/*fill: #000000;*/
}
.icon-Settings {
	/*fill: #000000;*/
}
.icon-Share {
	/*fill: #000000;*/
}
.icon-Shuffle {
	/*fill: #000000;*/
}
.icon-Sort {
	/*fill: #000000;*/
}
.icon-Spam {
	/*fill: #000000;*/
}
.icon-Speaker {
	/*fill: #000000;*/
}
.icon-Spreadsheet {
	/*fill: #000000;*/
}
.icon-StarEmpty {
	/*fill: #000000;*/
}
.icon-Star {
	/*fill: #000000;*/
}
.icon-Stop {
	/*fill: #000000;*/
}
.icon-Stopwatch {
	/*fill: #000000;*/
}
.icon-Storage {
	/*fill: #000000;*/
}
.icon-Tag {
	/*fill: #000000;*/
}
.icon-TextStyle {
	/*fill: #000000;*/
}
.icon-ThumbsDown {
	/*fill: #000000;*/
}
.icon-ThumbsUp {
	/*fill: #000000;*/
}
.icon-Ticket {
	/*fill: #000000;*/
}
.icon-Trash {
	/*fill: #000000;*/
}
.icon-Twitter {
	/*fill: #000000;*/
}
.icon-Typing {
	/*fill: #000000;*/
}
.icon-Underline {
	/*fill: #000000;*/
}
.icon-Undo {
	/*fill: #000000;*/
}
.icon-Up-downCarets {
	/*fill: #000000;*/
}
.icon-Upload_ {
	/*fill: #000000;*/
}
.icon-Upload {
	/*fill: #000000;*/
}
.icon-Usage-Pie {
	/*fill: #000000;*/
}
.icon-User {
	/*fill: #000000;*/
}
.icon-UsersGroup {
	/*fill: #000000;*/
}
.icon-Users {
	/*fill: #000000;*/
}
.icon-VideoCamera {
	/*fill: #000000;*/
}
.icon-Walking {
	/*fill: #000000;*/
}
.icon-Warning {
	/*fill: #000000;*/
}
.icon-Wifi {
	/*fill: #000000;*/
}
